/* Header */
.header {
  background-image: url('/public/imag/IBN_BATOUTA.png');
  background-size: cover;
  background-position: center;
  height: 10vh;
  width: 98%;
  display: flex;
  text-align: center;
  background-color: rgb(79, 1, 1);
  color: white;
  padding: 1rem;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Logo size */
  height: auto;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 1rem;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.textContent {
  display: flex;
  flex-direction: column;
}

.textContent h1 {
  font-size: 26px;
  margin: 0;
  color: #ffff;
}

.textContent p {
  font-size: 18px;
  color: #ffff;
  margin: 0;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Navigation */
.nav {
  display: flex;
  transition: max-height 0.3s ease;
  background: rgb(14, 13, 13);
  margin-right: 150px;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-left: 20px;
}

.navList a {
  color: #f8efef;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.navList a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #f0f0f0;
}

/* Responsive Styles for Small Screens */
@media (max-width: 768px) {
  .logo {
    width: 80px; /* Reduce logo size on smaller screens */
    
  }

  .nav {
    display: none; /* Hide nav by default */
    position: absolute;
    top: 80px;
    
    width: 30%;
    background-color: rgba(2, 44, 19, 0.9); /* Semi-transparent background */
    z-index: 10;
    flex-direction: column;
    max-height: 0; /* Initially, menu is collapsed */
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Smooth transition for collapsing */
  }

  .nav.open {
    display: flex;
    max-height: 300px; /* Set a maximum height when open (adjust as needed) */
  }

  .navList {
    flex-direction: column;
    padding: 1rem;
  }

  .navList li {
    margin: 10px 0; /* Increase space between items on small screens */
  }

  .hamburger {
    display: block; /* Show hamburger icon */
  }
}
